.parent{
    position: relative;
    background: blue;
}
.child-one{
    position: absolute;
    left: 40px;
    background: green;
}

.child-two{
    position: absolute;
    left: 80px;
    background: red;
}

.child-three{

    background: yellowgreen;
}